/*
Kate Royce
8/11/2016
The style guide for the homepage.
*/

header {
	font-family: Georgia, serif
	text-align: right;
	padding: 20px;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('http://dartmouth.edu/sites/default/files/styles/header_image/public/1_2007-1333296954.jpg?itok=RPZqcuxI');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}


td{
	font-family: Georgia, serif;
	color: black;
	padding-left:5px;
	padding-right:5px;
}

